<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='./css/style.css' />
    <script src="./javascripts/jquery.js"></script>
</head>
<body>
<h1><%= title %>home页面</h1>

</body>
</html>
