<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta charset="UTF-8">
  <link rel='stylesheet' href='./css/style.css' />
  <script src="/jquery/jquery.js"></script>

</head>
<body>
<h1><%= title %></h1>
<p class="ui-index-blue">Welcome to <%= title %></p>
<button id="button" value="button"></button>
</body>
</html>
