<%include header.ejs%><div class="container">
    <div class="page-header">
        <div id="navbar" class="collapse navbar-collapse">
            <a class="btn btn-default qb login_btn " href="/login" data-form="loginform">登录</a>
            <a class="btn btn-primary qb reg ">注册</a>
        </div>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-respond">
            <li class="active"><a href="/home">首页</a></li>
            <li><a>关于</a></li>
            <li><a>服务</a></li>
            <li><a>方案</a></li>
            <li><a>客户</a></li>
            <li><a>联系</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="tel:400-6650-361" title="全国统一客服热线：400-6650-361"><span class="segmdl2 segmdl2-Phone"></span>188-0125-7256</a></li>
        </ul>
    </div>
    <button id="test">test</button>
</div>
<script type="text/javascript" src="/javascripts/index.js"></script>
<% include footer.ejs%>
